.idk-1 {
  max-width: 500px;
}

.idk-1 h1 {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.idk-1 p {
  color: rgb(118, 115, 115);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.global {
  padding: 20px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forphoto img {
  width: 400px;
  height: 280px;
}

.values h1 {
  color: aliceblue;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  justify-content: start;
}

.values {
  padding: 40px;
  margin-left: 90px;
}

.values p {
  color: rgb(118, 115, 115);
  font-family: monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #111;
  font-family: Arial, sans-serif;
}

.container {
  padding: 90px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
}

.card {
  display: flex;
  gap: 20px;
  color: #aaa;
}

.line {
  width: 3px;
  background: #9acd32;
}

.card h2 {
  font-size: 32px;
  margin-bottom: 15px;
  color: white;
}

.card p {
  font-size: 15px;
  line-height: 1.6;
  color: #999;
}
